/* Vars */
$colorInputSize: 20px;

$sidebarHeight: 500px;
$sidebarPadding: 10px;
$sidebarBorder: 1px;
$sidebarContent: 235px;
$sidebarWidth: 2*$sidebarPadding + 2*$sidebarBorder + $sidebarContent;

$grayDark: #292929;
$grayDarkest: black;
$white: #FFF;
$backgroundColor: $grayDark;

/* Overrides for skeleton.css */
.container {
    width: 100% !important;
    max-width: initial !important;
}

select {
    border-radius: initial;
    padding: initial;
    width: initial;
    height: initial;
}

select,input {
    box-sizing: border-box;
    width: 150px;
    line-height: normal;
    border: none;
}

code {
    background-color: transparent !important;
    border: none !important;
    white-space: pre-wrap;
    padding: 0;
    margin: 0;
}

/* Tags */
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

body {
    background-color: $backgroundColor;
    color: $white;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

input, select {
    color: $grayDark;
}

button {
    color: $white;
}

button:hover {
    color: $white;
}

i {
    pointer-events: none;
}

/* General Classes */

#app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.color {
    display: inline-block;
    width: $colorInputSize;
    height: $colorInputSize;
}

.hide {
    display: none;
}

/* Sidebar */

#sidebar{
    width: $sidebarContent;
    display: inline-block;
    position: relative;
    z-index: 100;
    background: $backgroundColor;
}

.widget {
    border: $sidebarBorder solid $white;
    padding: $sidebarPadding;
    width: 100%;
}

/* Code Display */

#code-display {
    box-sizing: border-box;
    font: normal 1.5em Menlo,Monaco,Consolas,"Courier New",monospace;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    width: 100%;
    height: 100%;
    left: $sidebarWidth;
    z-index: 0;
}

#code-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.code-line {
    min-height: 1.5em;
    display: block;
}

.code {
    position: relative;
    z-index: 1;
    display: inline-block;
    transition: opacity 0.1s ease-out;
}

.code:focus {
    outline: none;
}

.code.code-temp-minimize {
    opacity: 0.1;
}

/* Palette */


.palette-colors > * {
    vertical-align: middle;
}

.color-input,.color-add {
    position: relative;
}

.color-add {
    text-align: center;
    cursor: pointer;
}

.color-add:before {
    content: '';
    vertical-align: middle;
    height: 100%;
    pointer-events: none;
}

.color-add > i {
    z-index: 102;
    pointer-events: none;
}

.color-add > i:before {
    position: relative;
    z-index: 102;
}

.input-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 101;
}

.input-overlay.color-missing {
    box-sizing: border-box;
    border: 1px solid $white;
    background-color: #2a2a2a;
}

input[type="color"] {
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0;
    cursor: pointer;
}

/* Code */

#app-info > h1, #app-info div {
    text-align: center;
}


/* Theme */
.inline-button {
    padding: 0;
    height: auto;
    border: none;
    margin: 0 0 0 5px;
}

.inline-button:before {
    content: '';
    vertical-align: middle;
    height: 100%;
    pointer-events: none;
}

.control-row > * {
    vertical-align: middle;
}

/* Face Editor */

#face-editor {
    height: 250px;
    overflow: hidden;
}

#faces-container{
    height: 200px;
    overflow-y: scroll;
}

.face {
    height: 20px;
    margin-bottom: 5px;
}

.face-name {
    font-size: .75em;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
}

.color.color-trigger{
    cursor: pointer;
    vertical-align: middle;
}


/* Palette Picker */
#palette-picker {
    width: max-content;
    max-width: 110px;
    padding: $colorInputSize/2;
    position: absolute;
    z-index: 200;
    margin-left: $colorInputSize/2;
    margin-top: $colorInputSize/2;
}

#palette-picker::after {
    content: "";
    max-width: 100px + $colorInputSize/2;
    border-radius: 0px 15px 15px 15px;
    background-color: $grayDarkest;
    opacity: 0.95;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.color-option {
    display: inline-block;
    padding: 0px;
    border-radius: 0px;
    position: relative;
    margin: $colorInputSize/4;
    z-index: 1;
}
