/* Vars */
$white: #FFFFFF;
$grayLightest: #f0f0f0;
$grayLighter: #cccccc;
$grayLight: #9e9e9e;
$gray: #333333;
$grayDark: #292929;
$grayDarker: #202020;
$grayDarkest: #1a1a1a;
$backgroundColor: $grayDarker;

$buttonWidth: 100px;
$colorInputSize: 20px;
$colorMargin: 2px;
$colorTransitionPeriod: 0.5s;
$borderRadius: 0px;
$modalWidth: 900px;
$modalHeight: 500px;
$smallSelectSize: 100px;
$tdSpacing: 20px;
$widgetContent: 250px;
$widgetPadding: 7.5px;
$widgetBorder: 1px;
$widgetBorderColor: $grayLight;
$widgetTitleBorderColor: $grayLight;
$sidebarHeight: 500px;
$sidebarPadding: 5px;
$sidebarWidth: 2*$sidebarPadding + 2*$widgetPadding + 2*$widgetBorder + 1*$widgetContent;
$userFacesModalWidth: 920px;

/* Overrides for skeleton.css */
.container {
    overflow-y: scroll;
    min-height: 100%;
    width: 100% !important;
    max-width: initial !important;
}

select {
    border-radius: 0;
    padding: initial;
    width: initial;
    height: initial;
}

select,input[type="text"] {
    background-color: $grayLighter;
    box-sizing: border-box;
    width: 150px;
    height: 20px;
    line-height: normal;
    border: none;
}

code {
    border: none !important;
    white-space: pre-wrap;
    padding: 0;
    margin: 0;
}

/* Tags */
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

body {
    min-height: 100%;
    font-size: 1.25em;
    background-color: $backgroundColor;
    color: $grayLighter;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    background-color: $gray;
}

input, select {
    color: $grayDark;
}

button {
    width: $buttonWidth;
    padding: 0;
    color: $grayLighter;
}

button:hover {
    color: $white;
    border-color: $white;
}

label {
    margin-top: 5px;
}

i {
    vertical-align: middle;
    pointer-events: none;
}

ul, ol {
}

/* General Classes */

.sidebar{
    box-sizing: border-box;
    padding: $sidebarPadding;
    width: $sidebarWidth;
    position: relative;
    z-index: 100;
}

.widget {
    background: $backgroundColor;
    vertical-align: top;
    margin-bottom: $sidebarPadding;
    border: $widgetBorder solid $widgetBorderColor;
    border-radius: $borderRadius;
    padding: $widgetPadding;
    width: $widgetContent;
}

.color {
    box-sizing: border-box;
    display: inline-block;
    width: $colorInputSize;
    height: $colorInputSize;
    border-radius: $colorInputSize/2;
}

.color-void {
    background-color: transparent;
    pointer-events: none;
    visibility: hidden;
}

.color-undefined {
    background-color: transparent;
    border: 1px solid $grayLighter !important;
}

.hide {
    display: none;
}

.widget-title,.modal-title {
    border: 1px solid $widgetTitleBorderColor;
    border-radius: $borderRadius;
    margin-bottom: 20px !important;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 1.1em !important;
    background-color: $grayDark;
    text-transform: uppercase;
}

.modal-title {
    margin-right: 10px;
}

.modal {
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}

.modal-content-container {
    box-sizing: border-box;
    font-size: 1.2em;
    height: $modalHeight;
    position: absolute;
    margin-top: -$modalHeight/2;
    top: 50%;
    z-index: 300;
    left: 50%;
    padding: 20px;
    border: 1px solid $grayLight;
    background-color: $grayDarker;

    .modal-close-button {
        position: absolute;
        margin-left: - $buttonWidth/2;
        bottom: 10px;
        left: 50%;
    }
}

.modal-content {
    height: 80%;
    overflow-y: scroll;
}

#help-modal > .modal-content-container{
    width: $modalWidth;
    margin-left: - $modalWidth/2;
}

#help-modal > *{
    text-align: left;
}

/* Sidebar */
#sidebar-left {
    position:absolute;
    top: 0;
    left: 0;
}

#sidebar-right {
    position: absolute;
    right: 0;
    top: 0;
}


/* Code Picker */
#code-picker{
    > select {
        width: 200px;
        margin-bottom: 3px;
    }
}

/* Code */
#code {
    padding: 5px;
    border-radius: 0;
    box-sizing: border-box;
    font: normal 1.25em Menlo,Monaco,Consolas,"Courier New",monospace;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    left: $sidebarWidth;
    right: $sidebarWidth;
    z-index: 0;
}

.code-line {
    position: relative;
    overflow: hidden;
    z-index: 1;
    min-height: 1.5em;
    display: block;
}

.code {
    overflow: hidden;
    position: relative;
    z-index: 2;
    display: inline-block;
    cursor: pointer;
}

.code:focus {
    outline: none;
}

.code.code-temp-minimize {
    opacity: 0.1;
}

/* Palette */

#palette-colors {
    margin: -15px 0 3px 0;

    > * {
        vertical-align: middle;
    }
}

.color-input,.color-add {
    position: relative;
}

.color-input {
    margin: 20px 0 0 $colorMargin;
}

.color-add {
    margin-top: 20px;
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
}


.color-remove {
    border: none;
    position: absolute;
    top: 0;
    left: 0.5px;
    opacity: 0;
    width: $colorInputSize !important;
    height: $colorInputSize !important;
    padding: 0;
    transition: top 0.5s, opacity 0.5s;
}

.color:hover  .color-remove {
    opacity: 1;
    top: -$colorInputSize;
}

/* .color-add:before { */
/*     content: ''; */
/*     vertical-align: middle; */
/*     height: 100%; */
/*     pointer-events: none; */
/* } */

.color-add > i {
    z-index: 102;
    pointer-events: none;
}

.color-add > i:before {
    position: relative;
    z-index: 102;
}

.input-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 101;
}

.input-overlay.color-missing {
    box-sizing: border-box;
    border: 1px solid $white;
    background-color: #2a2a2a;
}

input[type="color"] {
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0;
    cursor: pointer;
    background-color: $grayDarker;
}

/* App */
#app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* App Info */
#app-info > *{
    text-align: center;
}

#title {
    border:  1px solid $grayLighter;
    font-size: 3em;
    border-radius: $borderRadius;
    margin-bottom: 20px !important;
    padding: 5px;
    background-color: $grayDark;
}

/* Theme */
#theme-select,#theme-name-input {
    width: 200px;
}

#theme-name-edit-button {
    width: 40px;
    position: relative;
    top: 1px;
}

#actions{
    .control-row {
        margin: -10px 0 7px 0;
    }
}

.column {
    text-align: center;
}
.inline-button {
    text-align: center;
    padding: 0;
    height: auto;
    border: none;
    width: auto;
    margin: 0 0 0 0px;
}

.inline-button:before {
    content: '';
    vertical-align: middle;
    height: 100%;
    pointer-events: none;
}

.export-button {
    border-color: $gray;
    display: block;
    width: 100%;
}

/* Face Editor */
.face {
    padding: 2px 2px 2px 5px;
    position: relative;

    > i {
        position: absolute;
        top: 0px;
        right: 5px;
        color: $grayLight;
    }
}

#user-face-map-button {
    margin-top: 10px;
    width: 100%;
}

.face:nth-child(odd) {
    background-color: $gray;
}

.face-name {
    box-sizing: border-box;

    padding-top: 3px;
    font-size: 1em;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
}

.face-styles {
    background-color: $grayDarkest;
    margin: 5px 0 5px 0;
    padding: 10px 10px 5px 20px;
    list-style-type: none;

    > li {
        > * {
            vertical-align: middle;
        }

        > input {
            margin: 0;
        }

        > span {
            padding-left: 5px;
        }
        height: 1.0em;
        margin: 0 0 10px 0;
    }
}

.color.color-trigger{
    cursor: pointer;
    vertical-align: middle;
}

.color-trigger:nth-child(2){
    margin-left: 5px;;
}



/* Palette Picker */
#color-picker {
    max-width: 3*$colorInputSize + 3*$colorMargin;
    padding: 10px;
    position: absolute;
    z-index: 200;
}

#color-picker::after {
    content: "";
    box-sizing: border-box;
    border-radius: 0px 15px 15px 15px;
    background-color: $grayDarkest;
    opacity: 0.95;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.color-option {
    margin: $colorMargin 0 0 $colorMargin;
    display: inline-block;
    padding: 0px;
    position: relative;
    z-index: 1;
    border: none;
}

/* User Face Map */
#user-faces-modal {
    > .modal-content-container {
        width: $userFacesModalWidth;
        margin-left: -$userFacesModalWidth/2;
    }
}

#user-faces-container {
    button, input {
        margin: 0;
    }

    button {
        border: none;
    }

    .row {
        position: relative;

        button {
            top: 0;
            position: absolute;
            right: 10px;
        }
    }

    td {
        position: relative;
        height: 40px;
        text-align: left;
        padding: 0;
    }

    /* Face name */
    td:nth-child(1){
        width: 200px + $tdSpacing;
        overflow-x: hidden;

        > span {
            overflow-x: hidden;
        }
    }

    td:nth-child(2),
    td:nth-child(3),
    td:nth-child(7),{
        width: $smallSelectSize + $tdSpacing;
    }

    /* Bold and Italic */

    td:nth-child(4),
    td:nth-child(5){
        width: 50px + $tdSpacing;
    }

    /* Underline */
    td:nth-child(6) {
        width: 75px + $tdSpacing;
    }

    select {
        width: $smallSelectSize;
        padding: 0;
        margin: 0;
    }

}