/* Vars */
$colorInputSize: 20px;



/* Overrides for skeleton.css */
code {
    background-color: transparent !important;
    border: none !important;
    white-space: pre-wrap;
}


#code-display {
    position: absolute;
    background-color: #1a1a1a;
    font: normal 1.5em Menlo,Monaco,Consolas,"Courier New",monospace;
    display: inline-block;
    vertical-align: top;
}

.code-line {
    min-height: 1.5em;
    display: block;
}

.code {
    display: inline-block;
    transition: opacity 0.1s ease-out;
}

.code:focus {
    outline: none;
}

.code.code-temp-minimize {
    opacity: 0.1;
}

/* General */
body {
    background-color: #292929;
    color: #FFFFFF;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

/* Sidebar */

.widget {
    border: 1px solid white;
    padding: 5px;
    width: 100%;
}

/* Palette */

.color-input {
    display: inline-block;
    width: $colorInputSize;
    height: $colorInputSize;
    position: relative;
}

.input-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 101;
}

input[type="color"] {
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    margin: 0;
}

/* Code */

#sidebar {
    position: absolute;
    vertical-align: top;
    width: 250px;
}


#app-info > h1, #app-info div {
    text-align: center;
}

/* Face Editor */

.face {
    height: 20px;
    padding-right: 50px;
    margin-bottom: 5px;
}

.face-name {
    display: inline-block;
    vertical-align: middle;
    line-height: 0px;
}

/* trick to vertically align '.face-name' */
.face-name:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.color {
    display: inline-block;
    width: $colorInputSize;
    height: $colorInputSize;
}

.color.color-trigger{
    cursor: pointer;
    float: right;
}


/* Palette Picker */
#palette-picker {
    width: max-content;
    max-width: 110px;
    padding: $colorInputSize/2;
    position: absolute;
    z-index: 1;
    margin-left: $colorInputSize/2;
    margin-top: $colorInputSize/2;
}

#palette-picker::after {
    content: "";
    max-width: 100px + $colorInputSize/2;
    border-radius: 0px 15px 15px 15px;
    background-color: #1a1a1a;
    opacity: 0.95;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.color-option {
    display: inline-block;
    padding: 0px;
    border-radius: 0px;
    position: relative;
    margin: $colorInputSize/4;
    z-index: 1;
}
