
/* /\* Fonts  *\/ */
/* /\* $serif-ff: 'Kaiti TC'           *\/ */
/* $serif-ff: 'Latin Modern Roman', Georgia, 'Times New Roman', Times, serif; */
/* /\* $sans-serif "Varela Round", sans-serif *\/ */
/* $monospace-ff:  Menlo,Monaco,Consolas,"Courier New",monospace; */
/* $top-offset: 20px; */
/* /\* $sans-serif-ff: 'Helvetica Neue', Helvetica, Arial, sans-serif *\/; */

/* General */
body {
    background-color: #292929;
    color: #FFFFFF;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

/* Menu */

/* Face */

/* Palette */

/* Code */
html,body {
    margin: 0;
    padding: 0;
}
#app {
    width: 100%
}

#sidebar {
    position: absolute;
    vertical-align: top;
    width: 250px;
}

#sidebar > div {
    border: 1px solid white;
}

#code-display {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 250px;
    background-color: #1a1a1a;
    font: normal 1.5em Menlo,Monaco,Consolas,"Courier New",monospace;
    display: inline-block;
    vertical-align: top;
    padding-left: 50px;
}

.code-line > .code-region {
    display: inline;
}




.face {
    height: 20px;
    padding-right: 50px;
    margin-bottom: 5px;
}

.face-name {
    display: inline-block;
    vertical-align: middle;
    line-height: 0px;
}

/* trick to vertically align '.face-name' */
.face-name:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.swatch {
    display: inline-block;
    height: 100%;
    width: 20px;
    cursor: pointer;
    float: right;
}